@import "./reset.scss";

body {
  background-color: black;
  color: white;
  .transitionContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 999;
    top: 0;
    pointer-events: none;
    & > div {
      height: 100vh;
      width: 100vw;
      background-color: orange;
      color: black;
      transform: translate(100%);
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        height: 100px;
        overflow: hidden;
        font-size: 60px;
        font-family: "Times New Roman", Times, serif;
        text-transform: capitalize;
        span {
          display: block;
        }
      }
    }
  }
  section {
    min-height: 100vh;
    &.hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 15vh;
      }
    }
    &.content {
      padding-left: 128px;
      padding-right: 128px;
      font-size: 20px;
      line-height: 1.5em;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      flex-direction: column;
      h3 {
        font-size: 2em;
        margin-bottom: 30px;
      }
      div{
        display: flex;
      }
      img {
        text-align: center;
        height: 30px;
        height: 60px;
        max-width: 140px;
        margin: auto;
        margin-right: 20px;
        &.ModularLoad{
          filter: invert(1);
        }
      }
      video {
        height: 50vh;
        margin-top: 36px;
      }
    }
  }
  footer {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    button {
      background-color: orange;
      border: none;
      font-size: 20px;
      border-bottom: white solid 2px;
      transition: 300ms;
      &:hover {
        transition: 300ms;
        border-bottom: orange solid 2px;
      }
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  nav {
    position: fixed;
    height: 35px;
    background-color: black;
    border-bottom: 2px solid orange;
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    font-family: sans-serif;
    z-index: 1000;
    p {
      a {
        color: white;
        text-decoration: none;
      }
    }
    ul {
      display: flex;
      li {
        margin-left: 8px;
      }
      a {
        color: white;
        text-decoration: none;
        transition: 100ms;
        &:hover {
          color: orange;
          text-decoration: underline;
          transition: 200ms;
        }
        &.is-active {
          color: orange;
          transition: 300ms;
          &:after {
            content: "○";
          }
        }
      }
    }
  }
}
